<div>
</div>

<form id="" action="/admin/show_accounts" method="post">
	<input type="submit" value="show accounts">
</form>

<form id="" action="/admin/show_items" method="post">
	<input type="submit" value="show items">
</form>
