<div>
</div>

<form id="" action="/admin/read_accounts" method="post">
	<input type="submit" value="show accounts">
</form>

<form id="" action="/admin/read_all_items" method="post">
	<input type="submit" value="show items">
</form>
