<div>
</div>

<form id="" action="/admin/accounts" method="post">
	<input type="submit" value="show accounts">
</form>

<form id="" action="/admin/items" method="post">
	<input type="submit" value="show items">
</form>
